<!-- FindMyFurryFriend/templates/FindMyFurryFriend/emergency_contacts.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emergency Contacts</title>
</head>
<body>
    <h1>Emergency Contacts</h1>
    <p>San Bernardino County (800) 472-5609.</p>
    <p>Los Angeles County    (562) 940-6898.</p>
    <p>Orange County         (714) 935-6848.</p>
    <p>Sacramento County     (916) 875-5678.</p>
    <p>San Diego County      (619) 767-2675.</p>
    <p>San Francisco County  (415) 567-8738.</p>
    <p>San Luis Obispo County(805) 781-4400.</p>
    <p>Santa Barbara County  (805) 934-6119.</p>
    <p>Santa Clara County    (408) 686-3900.</p>
    <p>San Mateo County      (650-340-7022.</p>
</body>
</html>

