<!-- FindMyFurryFriend/templates/FindMyFurryFriend/add_found_pet.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Found Pet</title>
</head>
<body>
<h1>Add a Found Pet</h1>
<form method="post" enctype="multipart/form-data"> 
    {% csrf_token %} 
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br><br>
    <label for="species">Species:</label>
    <input type="text" name="species" id="species"><br><br>
    <label for="description">Description:</label>
    <textarea name="description" id="description"></textarea><br><br>
    <!-- Input field for uploading an image -->
    <label for="image">Image:</label>
    <input type="file" name="image" id="image"><br><br>
    <input type="submit" value="Add Pet">
</form>
</body>
</html>

